
:root {
    --main-color: rgba(117, 117, 117, 1);
    --secondary-color:rgba(33, 33, 33, 1);
   
    --accent-color: rgba(33, 150, 243, 1);
    --white-color: #FFFFFF;
    --grey-color: rgba(47, 48, 58, 1);

    --adress-color: rgba(255, 255, 255, 0.6);
}

.body {
    background-color: var(--white-color);
    color: var(--main-color);
   
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}



/* nav */

.logo {
    color: var(--accent-color);
   
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
 
}

.logo .logo-span {
    color: var(--secondary-color);
}

.site-nav .link {
    color: var(--secondary-color);
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link.active {
    color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.auth-nav .link {
    color: inherit;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
    text-decoration: none;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}

/* hero */

.hero {
    background-color: rgba(47, 48, 58, 1);
}

.hero .hero-title {
    color: var(--white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* buttons */
.hero-button {
    color: var(--white-color);
    background-color: var(--accent-color);

    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    
    border-style:hidden;
    letter-spacing: 0.06em;
    
    cursor: pointer;
}

.filter-button {
    color: var(--secondary-color);

    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    cursor:pointer;

}

.filter-button.active {
    color: var(--white-color);
    background-color: var(--accent-color);
}

/* section  */

.section .section-title {
    color: var(--secondary-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

}


.advantages .title {
    color: var(--secondary-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.advantages .text {
    font-size: 14px;
    line-height: 1.71;
}

.team.list .title,
.team.list .text {
    text-align: center;
}

.team .text {
    font-size: 16px;
    line-height: 1.19;
}

.team .title {
    color: var(--secondary-color);
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.projects.link {
    color:var(--main-color);

    font-size: 16px;
    line-height: 1.88;
    text-decoration: none;
}

.projects.link .title {
    color: var(--secondary-color);
       
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}





/* footer */

.footer {
    background-color: var(--grey-color)
}


.footer .logo {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.footer .logo-span {
    color:var(--white-color);
}

.footer .link {
color: var(--adress-color);

font-style: normal;
font-size: 14px;
line-height: 1.71;
text-decoration: none;
}

.footer .link:hover,
.footer .link:focus {
    color: var(--accent-color);
}

.footer .link.address {
    color: var(--white-color);
}

.footer .link.address:hover,
.footer .link.address:focus {
    color: var(--accent-color);
}
    